@media screen and (min-width: $tablet) {
  header {
    @include padding(1, 1);
    position: relative;
  }

  h2 {
    @include baseline((30/$base-font-size), 'lg');
  }

  h3 {
    @include baseline((24/$base-font-size), 'sm');
  }

  .footer-nav {
    @include baseline((18/$base-font-size), 'sm');
  }

  .logo {
    height: $base-line-height*3+rem;
  }

  .my-account {
    position: absolute;
    top: 30px;
    right: $pad;
  }

  .user-icon {
    @include baseline((34/$base-font-size), 'sm');
  }

  .top-nav {
    padding-top: 1.5rem;
    ul {
      @include baseline((18/$base-font-size), 'sm');
    }
    li {
      width: 20%;
      &:nth-of-type(2) {
        width: 25%;
      }
      &:last-of-type {
        width: 15%;
      }
    }
  }

  .sub-nav {
    @include baseline((18/$base-font-size), 'sm');
  }

  .option-box, .order-shirt {
    @include padding(2, 0);
  }

  .button:hover {
    background-color: $dk-blue;
  }

}
