// Colors
$black: #212121;
$blue: #6DAFE1;
$dk-brown: #5D4037;
$dk-grey: #757575;
$lt-brown: #D7CCC8;
// $lt-grey: #E0E0E0;
$lt-grey: #EEEEEE;
$md-grey: #BDBDBD;
$md-brown: #795548;
$white: #FFF;

// Fonts
$base-font-stack: "Source Sans Pro", sans-serif;
